body{
    background: linear-gradient(to left,rgb(9, 115, 236),rgb(119, 179, 7));
}
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 100px;
    background: rgba(233, 9, 140, 0.2);
    height: 320px;
    color: antiquewhite;
    
  }

  
  h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  h1,h3{
    text-align: center;
    color: white;
  }
a{
    color: beige;
    text-decoration: none;
    
}
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top:  30px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  a:hover{
    color: red;
    transition: 0.4s;
  }